/* body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
} */

/* h2 {
  margin-bottom: 1rem;
} */

#heading {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card {
  width: 30rem;
  height: 27rem;
  text-align: center;
  margin: 0 auto;
  border: 4px double;
  padding: 5rem 0;
  background-color: #9a9e30;
}

#uploadfile {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 16rem;
}

#encode,
#decode {
  margin-top: 1rem;
  margin-right: 0.2rem;
}

#step2,
#step3 {
  display: none;
}

#startagain {
  visibility: hidden;
  display: block;
  margin: 2rem auto 0;
}

.text2 {
  font-size: 1.5rem;
}

#doneImg {
  width: 10rem;
  margin: auto;
}

.compress {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}

.header {
  background-color: aqua;
  padding: 10px;
  margin: 5%;
}

.header h5 {
  text-align: center;
}

.link-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
}
.copy-link{
  display: flex;
  border: 2px solid rgb(56, 55, 55);
  padding: 10px;
  margin: 2%;
}

.submitform {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.copy-btn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #106eea;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px;
}

.com-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
}
